/*------------------------------------*\
    $HELPER
\*------------------------------------*/
/**
 * A series of helper classes to use arbitrarily. Only use a helper class if an
 * element/component doesn’t already have a class to which you could apply this
 * styling, e.g. if you need to float `.main-nav` left then add `float:left;` to
 * that ruleset as opposed to adding the `.float--left` class to the markup.
 *
 * A lot of these classes carry `!important` as you will always want them to win
 * out over other selectors.
 */


/**
 * Positions
 */

.fixed {
	position:fixed !important;
}

.fixed--fit {
	width:auto;
	right:0;
	left:0;
}

.fixed--top {
	top:0;
}

.fixed--bottom {
	bottom:0;
}
.fixed--bottom--window {
	bottom:100%;
}


.center-vertical {
	text-align:center;
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	@include transform(translate(-50%, -50%));
}

.soft--top--double      { padding-top:   $base-spacing-unit * 2!important; }
