/*------------------------------------*\
  $FORMS
\*------------------------------------*/



/**
* Text inputs
*
* Instead of a `[type]` selector for each kind of form input, we just use a
* class to target any/every one, e.g.:
<input type=text class=text-input>
<input type=email class=text-input>
<input type=password class=text-input>
*
*/

.text-input,
input[type=text],
input[type=tel],
input[type=email],
textarea{
	width:100%;
	border:none;
	background:none;
	border:rgba($white, 0.5) 1px solid;
	padding:$half-spacing-unit - 6px $half-spacing-unit - 2px ;
	@include font-size(13px);
	@include transition(all 0.2s);
	@include input-placeholder {
		color: $white ;
	}
	&:focus, &:active {
		outline:none;
		background:$white !important;
	}
	.gfield_error & {
		border-color:$white !important;
	}
}

textarea {
	height:150px;
}
/**
*
*	Submit Button
*
*/

input[type=submit],
button {
	@extend h3;
	width:100%;
	border:none;
	background:$redLighter;
	text-align: center;
	padding:$half-spacing-unit;
	@include transition(all 0.2s);
	@include font-size(13px);
	display:block;
	&:hover {
		background:$black !important;
	}

}

label {
	margin-bottom:$half-spacing-unit / 2;
	display:block;
	@include font-size(13px);
	#field_1_1 &, #field_1_2 &, #field_1_5 & {
		display:none;
	}
}



/**
*
*	Gravity Forms
*
*/

.gfield {
	display: inline-block;
	position:relative;
	width:100%;
	margin:0 0 $base-spacing-unit 0;
	padding:0 $base-spacing-unit 0 0;
	@include media-query(lap-and-up){  
		width: 50%; 
	}
	&#field_1_5 {
		width:100%;
		padding-bottom:0;
	}
	&.gfield_error  {
		margin-bottom:$base-spacing-unit * 2;
	}
	
}

.gform_footer {
	padding:0 $base-spacing-unit 0 0;
}

.gform_wrapper {
	margin-left:$base-spacing-unit ;
}

.validation_message {
	@extend h3;
	background:$white;
	padding:4px;
	@include font-size(10px);
	text-align:center;
	color:$white;
	position:absolute;
	top:100%;
	right:$base-spacing-unit;
	left:0;
}

.validation_error {
	@extend p;
	color:$white;
	padding-right:20%;
}

.gform_ajax_spinner {
	position:absolute;
	left:50%;
	margin-left:-10px;
}
/**
*
*	Dropdowns
*
*/

.dropdown{
	@include font-size(13px);
	.selected, li {
		padding:$half-spacing-unit;
		padding:$half-spacing-unit;
		color:$white;
		line-height: 1;
		&.active {
			color:$black;
		}
		&:hover {
			color:$black;
			background:$white;
		}
	}
	ul {
		background:$white;
		border:$blueLighter 1px solid;
		border-top:0;
	}
}
